/*
!.gitignore

!docs
!docs/*

!configurations/
configurations/*
!configurations/config.example.toml
!configurations/log4rs.yaml

!frontend/
frontend/*
!frontend/error
!frontend/app
!frontend/admin
!frontend/frame

!migrations/
!src/

!Cargo.toml
!LICENSE
!README.md

!config.example.toml
!diesel.toml

!package.json
!webpack.config.js
!gulpfile.js
!babel.config.js
!.eslintrc
!.stylelintrc

!rustfmt.toml
!.editorconfig
